<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Bienvenidos a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f5b0ad43f8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
        <form class="searchBox">
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i id="icono" class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <p class="tituloCuotas"><i id="icono" class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul class="formato-menu">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="formato-menu">
                <li><a href="">Crea tu cuenta </a><i id="icono" class="fa-regular fa-address-card"></i>
                <li><a href="">Ingresa </a><i id="icono" class="fa-solid fa-right-to-bracket"></i>
                <li><a href="">Mis compras </a><i id="icono" class="fa-solid fa-basket-shopping"></i>
            </ul>
        </nav>
        <div class="burger-menu">
            <button class="burger-button"><i class="fas fa-bars"></i></button>
        </div>
    </header>

    <section>
        <img src="/images/img-home-banner.jpg" width="395" alt="Banner de ofertas">
    </section>

    <main>
        <section>
            </div>
            <h3 id="titulares">Basado en tu última visita</h3>
            </div>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Imagen de producto">
                <p id="precios">$6770</p>
                <p id="descuentos">40% OFF</p>
                <h4 id="descripciones">Cafetera Moulinex</h4>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Imagen de producto">
                <p id="precios">$230.000</p>
                <p id="descuentos">20% OFF</p>
                <h4 id="descripciones">MacBook Pro 2019</h4>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Imagen de producto">
                <p id="precios">$70.500</p>
                <p id="descuentos">10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="Imagen de producto">
                <p id="precios">$23.200</p>
                <p id="descuentos">5% OFF</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>
        <section>
            <h2 id="titulares">Sección de Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Imagen de producto">
                <p id="precios">$6770</p>
                <p id="descuentos">40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Imagen de producto">
                <p id="precios">$230.000</p>
                <p id="descuentos">20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Imagen de producto">
                <p id="precios">$70.500</p>
                <p id="descuentos">10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="Imagen de producto">
                <p id="precios">$23.200</p>
                <p id="descuentos">5% OFF</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>

    </main>

    <footer>
        <section>
            <div>
                <i id="icono2" class="fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </div>
            <div>
                <i id="icono2" class="fa-solid fa-gift"></i>
            </div>
            <div>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i id="icono2" class="fa-solid fa-user-shield"></i>
            </div>
            <div>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div>
                <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            </div>
        </section>
    </footer>

</body>

</html>