<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>MercadoLiebre</title>
    </head>
    
    <body>

        <header>   
            <div><img src="/images/logo-mercado-liebre.svg"></div>
            <div><form action="../../form-result.php" method="post" target="_blank">

                <p>
              
                  <input type="search" name="busqueda" size="33" placeholder="Buscar productos, marcas, y más...">
              
                  <input type="submit" value="Buscar">
              
                </p>
              
              </form></div>
            <h3>Compra en cuotas y sin tarjeta de crédito</h3>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>    
            <nav>
                <ul>
                    <li><a href="">Crea tu cuenta</a></li>
                    <li><a href="">Ingresa</a></li>
                    <li><a href="">Mis compras</a></li>
                </ul>
            </nav>
        </header>
    
        <main>
            <section>
                <header>
                    <div><img src="/images/img-home-banner.jpg"></div>
                    <h2>Basado en tu última visita</h2>
                </header>    
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg">
                        <p style="font-size: 30px;">$6770</p>
                        <p style="color:green">40% OFF</p>
                        <p>Cafetera Moulinex</p>
                    </article>
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg">
                        <p>$230.000</p>
                        <p style="color:green">20% OFF</p>
                        <p>MacBook Pro 2019</p>
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                        <p>$70.500</p>
                        <p style="color:green">10% OFF</p>
                        <p>Samsung Galaxy S10</p>
                    </article>
                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg">
                        <p>$23.200</p>
                        <p style="color:green">5% OFF</p>
                        <p>SmartTV Samsung 43"</p>
                    </article>
            </section>
            <section>
                <header>
                    <h2>Sección de Ofertas</h2>
                </header>    
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg">
                        <p>$6770</p>
                        <p style="color:green">40% OFF</p>
                        <p>Cafetera Moulinex</p>
                    </article>
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg">alt 
                        <p>$230.000</p>
                        <p style="color:green">20% OFF</p>
                        <p>MacBook Pro 2019</p>
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                        <p>$70.500</p>
                        <p style="color:green">10% OFF</p>
                        <p>Samsung Galaxy S10</p>
                    </article>
                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg">
                        <p>$23.200</p>
                        <p style="color:green">5% OFF</p>
                        <p>SmartTV Samsung 43"</p>
                    </article>
            </section>
    
        </main>

        <footer>
            <section>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </section>
        </footer>

    </body>
    
</html>