<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>MercadoLiebre</title>
    </head>
    
    <body>

        <header>   
            <img src="/images/logo-mercado-liebre.svg">
            <nav>
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
            </nav>    
            <nav>
                <ul>
                    <li>Crea tu cuenta</li>
                    <li>Ingresa</li>
                    <li>Mis compras</li>
                </ul>
            </nav>
        </header>
    
        <main>
            <section>
                <header>
                <h2>Basado en tu última visita</h2>
                </header>    
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg">
                        <p>$6770</p>
                        <p>40% OFF</p>
                        <p>Cafetera Moulinex</p>
                    </article>
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg">
                        <p>$230.000</p>
                        <p>20% OFF</p>
                        <p>MacBook Pro 2019</p>
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                        <p>$70.500</p>
                        <p>10% OFF</p>
                    </article>
            </section>
    
        </main>

<footer></footer>

</body>
    
</html>